# OSX #
.DS_Store

# Byte-compiled / optimized / DLL files #
__pycache__/
*.py[cod]
*$py.class

# Django #
*.log
db.sqlite3
db.sqlite
media
/staticfiles/*
/.idea
env.sh
local_settings.py
venv/*
.vscode/*
ignore/*